<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div>
      <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
          <tr>
            <td align="center" valign="top">
              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding-top:9px">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:390px" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px;color: #bbb;">
                                    Your order is successfully placed. View your order summary
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:210px" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-top:0;padding-left:18px;padding-bottom:9px;padding-right:18px">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr> 
                  <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding:9px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                               <tbody>
                                 <tr>
                                   <td style="min-width:100%;padding:10px 18px">
                                     <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eaeaea">
                                       <tbody>
                                         <tr>
                                           <td>
                                             <span></span>
                                           </td>
                                         </tr>
                                       </tbody>
                                     </table>
                                   </td>
                                 </tr>
                               </tbody>
                            </table>
                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" style="min-width:100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-right:9px;padding-left:9px;padding-top:0;padding-bottom:0;text-align:center">
                                    <img align="center" alt="" src="http://topspin.in/static/images/LOGO_SideText.png" width="300" style="max-width:300px;padding-bottom:0;display:inline!important;vertical-align:bottom">
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding-top:9px">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding:0px 18px 9px;color:#99c900">
                                    <div style="text-align:center"><span style="font-size:20px"><strong><img src="http://findicons.com/files/icons/1588/farm_fresh_web/32/accept.png" width="24" style="vertical-align:middle;margin-right:3px;"/> Your order is confirmed</strong></span></div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td style="min-width:100%;padding:10px 18px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eaeaea">
                              <tbody>
                                <tr>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding-top:9px">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                    <h2>Dear {{ customer_name }},</h2>
                                    <p>Your order number #{{ order_id }} has been confirmed and is now being processed. The items will be shipped once ready.</p>
                                    <p>We&#39;ll send tracking details over email once the order is dispatched.</p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td style="min-width:100%;padding:10px 18px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eaeaea">
                              <tbody>
                                <tr>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="200">
                      <tr>
                        <td valign="top">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                            <tbody>
                              <tr>
                                <td valign="top" style="padding-top:9px">
                                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                                    <tbody>
                                      <tr>
                                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                          <strong>Order No.</strong>
                                          <hr>
                                          {{ order_id }} <br>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                            <tbody>
                              <tr>
                                <td style="padding-top:20px;padding-right:18px;padding-bottom:18px;padding-left:18px" valign="top" align="center">
                                  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse:separate!important;border-radius:3px;background-color:#2baadf">
                                    <tbody>
                                      <tr>
                                        <td align="center" valign="middle" style="font-family:Arial;font-size:16px;padding:15px">
                                          <a title="VIEW ORDER" style="font-weight:bold;letter-spacing:normal;line-height:100%;text-align:center;text-decoration:none;color:#ffffff" href="{{ payment_url }}">VIEW ORDER</a>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="200">
                      <tr>
                        <td valign="top">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                            <tbody>
                              <tr>
                                <td valign="top" style="padding-top:9px">
                                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                                    <tbody>
                                      <tr>
                                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                          <strong>Shipping Address</strong>
                                          <hr>
                                          {% include "userprofile/snippets/address-short.html" with address=shipping_address %} 
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="200">
                      <tr>
                        <td valign="top">
                          <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                            <tbody>
                              <tr>
                                <td valign="top" style="padding-top:9px">
                                  <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                                    <tbody>
                                      <tr>
                                        <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                          <strong>Billing Address</strong>
                                          <hr>
                                          {% include "userprofile/snippets/address-short.html" with address=billing_address %}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr>
                  <td valign="top">
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding-top:9px">
                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px">
                                    <p>For further queries regarding the order placed, email us at <a href="mailto:sales@topspin.in">sales@topspin.in</a>.</p>
                                    <p>Regards,</p>
                                    <p><strong>Team Topspin.in</strong></p>
                                    <p> </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td align="center" valign="top" style="padding:9px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                              <tbody>
                                <tr>
                                  <td align="center" style="padding-left:9px;padding-right:9px">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                                      <tbody>
                                        <tr>
                                          <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                                            <table align="center" border="0" cellpadding="0" cellspacing="0">
                                              <tbody>
                                                <tr>
                                                  <td align="center" valign="top">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline">
                                                      <tbody>
                                                        <tr>
                                                          <td valign="top" style="padding-right:10px;padding-bottom:9px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                              <tbody>
                                                                <tr>
                                                                  <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                      <tbody>
                                                                        <tr>
                                                                          <td align="center" valign="middle" width="24">
                                                                            <a href="http://www.facebook.com/topspindotin" target="_blank"><img src="http://topspin.in/static/images/facebook.png" style="display:block" height="24" width="24"></a>
                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline">
                                                      <tbody>
                                                        <tr>
                                                          <td valign="top" style="padding-right:0;padding-bottom:9px">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                              <tbody>
                                                                <tr>
                                                                  <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="">
                                                                      <tbody>
                                                                        <tr>
                                                                          <td align="center" valign="middle" width="24">
                                                                            <a href="http://www.topspin.in" target="_blank"><img src="http://topspin.in/static/images/email.png" style="display:block" height="24" width="24"></a>
                                                                          </td>
                                                                        </tr>
                                                                      </tbody>
                                                                    </table>
                                                                  </td>
                                                                </tr>
                                                              </tbody>
                                                            </table>
                                                          </td>
                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td style="min-width:100%;padding:10px 18px">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eaeaea">
                              <tbody>
                                <tr>
                                  <td>
                                    <span></span>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%">
                      <tbody>
                        <tr>
                          <td valign="top" style="padding-top:9px">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;text-align:center">
                                    <em>Copyright © {% now "Y" %} Topspin.in, All rights reserved.</em><br>
                                    <br>
                                    <br>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </center>
    </div>
  </body>
</html>
