<!DOCTYPE html>
{% load i18n %}
{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<html lang="{{ LANGUAGE_CODE }}" class="no-js">
    <head>
        {% if product %}
            {% with product.get_first_category as category %}
              {% if category %}
                <title>{{product.name}} | Buy {{category}} {{product.name}} Online at Best Price in India | Topspin.in</title>
              {% endif %}
            {% endwith %}
        {% else %}
            <title>{% block title %}Online Shopping Site for Table tennis Rubbers, Blades, Rackets, Balls, Accessories &amp; More @ {{ settings.name }}{% endblock %}</title>
        {% endif %}
        {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if product %}
          <meta name="description" content="{{product.product_description }}">
          <meta name="Keywords" content="{{product.keywords}}"/>
        {% else %}
          <meta name="description" content="Professional table tennis equipment store for the table tennis player exclusively in India. Quickest shipping, lowest prices, fanatical customer service. Rackets, blades, rubbers">
        {% endif %}
        <meta name="google-site-verification" content="wC7xhkzywmSY8At2mMpasmune8YmEEg4Fx2ECH0_WPY" />
        {% endblock meta %}
        {% include 'favicon.html' %}
        {% render_bundle 'vendor' 'css' %}
        {% render_bundle 'storefront' 'css' %}

        {% block stylesheet %}{% endblock stylesheet %}

        <script type="text/javascript" src='{% static "assets/jquery-1.11.3.min.js" %}'></script>
        <script type="text/javascript" src='{% static "assets/jssor.slider.mini.js" %}'></script>

        <script>
        window.onload = function(){
            jQuery(document).ready(function ($) {

                var jssor_1_SlideshowTransitions = [
                  {$Duration:1200,x:-0.3,$During:{$Left:[0.3,0.7]},$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2},
                  {$Duration:1200,x:0.3,$SlideOut:true,$Easing:{$Left:$Jease$.$InCubic,$Opacity:$Jease$.$Linear},$Opacity:2}
                ];

                var jssor_1_options = {
                  $AutoPlay: true,
                  $SlideshowOptions: {
                    $Class: $JssorSlideshowRunner$,
                    $Transitions: jssor_1_SlideshowTransitions,
                    $TransitionsOrder: 1
                  },
                  $ArrowNavigatorOptions: {
                    $Class: $JssorArrowNavigator$
                  },
                  $BulletNavigatorOptions: {
                    $Class: $JssorBulletNavigator$
                  },
                  $ThumbnailNavigatorOptions: {
                    $Class: $JssorThumbnailNavigator$,
                    $Cols: 1,
                    $Align: 0,
                    $NoDrag: true
                  }
                };

                var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

                //responsive code begin
                //you can remove responsive code if you don't want the slider scales while window resizing
                function ScaleSlider() {
                    var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                    if (refSize) {
                        refSize = Math.min(refSize, 800);
                        jssor_1_slider.$ScaleWidth(refSize);
                    }
                    else {
                        window.setTimeout(ScaleSlider, 30);
                    }
                }
                ScaleSlider();
                $(window).bind("load", ScaleSlider);
                $(window).bind("resize", ScaleSlider);
                $(window).bind("orientationchange", ScaleSlider);
                //responsive code end
            });
        }
    </script>

        <style>

        /* jssor slider bullet navigator skin 01 css */
        /*
        .jssorb01 div           (normal)
        .jssorb01 div:hover     (normal mouseover)
        .jssorb01 .av           (active)
        .jssorb01 .av:hover     (active mouseover)
        .jssorb01 .dn           (mousedown)
        */
        .jssorb01 {
        position: absolute;
        }
        .jssorb01 div, .jssorb01 div:hover, .jssorb01 .av {
        position: absolute;
        /* size of bullet elment */
        width: 12px;
        height: 12px;
        filter: alpha(opacity=70);
        opacity: .7;
        overflow: hidden;
        cursor: pointer;
        border: #000 1px solid;
        }
        .jssorb01 div { background-color: gray; }
        .jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
        .jssorb01 .av { background-color: #fff; }
        .jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }

        /* jssor slider arrow navigator skin 05 css */
        /*
        .jssora05l                  (normal)
        .jssora05r                  (normal)
        .jssora05l:hover            (normal mouseover)
        .jssora05r:hover            (normal mouseover)
        .jssora05l.jssora05ldn      (mousedown)
        .jssora05r.jssora05rdn      (mousedown)
        */
        .jssora05l, .jssora05r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 40px;
        height: 40px;
        cursor: pointer;
        overflow: hidden;
        }
        .jssora05l { background-position: -10px -40px; }
        .jssora05r { background-position: -70px -40px; }
        .jssora05l:hover { background-position: -130px -40px; }
        .jssora05r:hover { background-position: -190px -40px; }
        .jssora05l.jssora05ldn { background-position: -250px -40px; }
        .jssora05r.jssora05rdn { background-position: -310px -40px; }

        /* jssor slider thumbnail navigator skin 09 css */

        .jssort09-600-45 .p {
        position: absolute;
        top: 0;
        left: 0;
        width: 600px;
        height: 45px;
        }

        .jssort09-600-45 .t {
        font-family: verdana;
        font-weight: normal;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        color:#fff;
        line-height: 45px;
        font-size: 20px;
        padding-left: 10px;
        }

            .logo {
            max width: 200px !important;
            max-height: 100px !important;
            }
    </style>
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
            var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
            (function(){
             var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
             s1.async=true;
             s1.src='https://embed.tawk.to/572a340fab1d60c2452fba7f/default';
             s1.charset='UTF-8';
             s1.setAttribute('crossorigin','*');
             s0.parentNode.insertBefore(s1,s0);
             })();
    </script>
    <!--End of Tawk.to Script-->

    <body>
        {% block header %}
            <header class="navbar" role="navigation">
                <div class="navbar__login hidden-sm-down">
                  <div class="container">
                    <div class="row">
                      <div class="col-6">
                        <p class="text-left">{{ settings.header_text }}</p>
                      </div>
                      <div class="col-6">
                        <ul class="float-right">
                          {% if user.is_authenticated %}
                            {% if user.is_staff %}
                              <li>
                                <a href="{% url "dashboard:index" %}" target="_blank" rel="noopener">
                                    {% trans "Dashboard" context "Top navbar link text" %}
                                </a>
                              </li>
                            {% endif %}
                            <li>
                              <a href="{% url "profile:details" %}">
                                  {% trans "Your account" context "Top navbar link text" %}</a>
                            </li>
                            <li>
                              <a href="{% url "account_logout" %}">
                                  {% trans "Log out" context "Top navbar link text" %}</a>
                            </li>
                          {% else %}
                            <li>
                              <a href="{% url "account_signup" %}">
                                  {% trans "Register" context "Top navbar link text" %}</a>
                            </li>
                            <li>
                              <a href="{% url "account_login" %}">
                                  {% trans "Log in" context "Top navbar link text" %}
                              </a>
                            </li>
                          {% endif %}
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar__brand">
                  <div class="container">
                    <div class="row no-gutters">
                      <div class="col-8 col-md-4 navbar__logo">
                        <div class="menu-icon-mobile hidden-md-up">
                          <img class="navbar__brand__menu-toggle closed open" src="{% static "images/mobile-bar.svg" %}">
                          <span>{% trans "menu" context "Hamburger button text" %}</span>
                        </div>
                        <a href="/">
                          <img src="{% static "images/LOGO_SideText.png" %}" alt="Topspin.in" height="100">
                        </a>
                      </div>
                      <div class="col-2 col-md-4 navbar__search static">
                        {% if SEARCH_IS_ENABLED %}
                          <img class="hidden-md-up mobile-search-icon float-right" src="{% static "images/search-icon.svg" %}">
                        {% endif %}
                        {% if SEARCH_IS_ENABLED %}
                          <form class="form-inline navbar__brand__search" action="{% url "search:search" %}">
                            <div class="mobile-close-search hidden-md-up">
                              <img src="{% static "images/close-icon.svg" %}">
                            </div>
                            <input class="form-control search-input" type="text" name="q" value="{% if query %}{{ query }}{% endif %}" placeholder="{% trans "Search for product" %}">
                            <button class="btn btn-link" type="submit">
                              <img src="{% static "images/search-icon.svg" %}">
                            </button>
                          </form>
                        {% endif %}
                      </div>
                      <div class="col-2 col-md-4">
                        <div class="navbar__brand__cart float-right">
                          <a class="cart__icon" href="{% url "cart:index" %}">
                            <span class="cart-label hidden-sm-down">
                                {% trans "Your Cart" context "Top navbar link" %}
                            </span>
                            <img class="navbar__brand__cart__icon" src="{% static "images/cart.svg" %}" alt="Cart">
                            <span class="badge {% if not cart_counter %}empty{% endif %}">
                              {% if cart_counter %}
                                {{ cart_counter }}
                              {% else %}
                                0
                              {% endif %}
                            </span>
                          </a>
                          <div class="cart-dropdown hidden-md-down">
                          {% include 'cart-dropdown.html' %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar__menu">
                  <div class="container">
                    <nav class="navigation">
                      {% url 'home' as home_url %}
                      <ul class="nav navbar-nav{% if request.get_full_path == home_url %} no-border{% endif %}" >
                        {% for category in categories %}
                            <li class="nav-item">
                              <a class="nav-link" href="{{ category.get_absolute_url }}">
                                  {{ category }}
                              </a>
                            </li>
                        {% endfor %}
                      </ul>
                    </nav>
                  </div>
                </div>
            </header>
        {% endblock %}
        <div class="container maincontent">
            {% if messages %}
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
            {% endif %}
            {% block breadcrumb %}
            {% endblock breadcrumb %}
            {% block content %}
            {% endblock content %}
        </div>
        {% block footer %}
            <footer class="footer">
                <div class="container">
                  <div class="row">
                    <div class="col-md-3">
                      <a href="/">
                        <img class="footer__logo" src="{% static "images/LOGO_SideText.png" %}" height="100" alt="Topspin.in">
                      </a>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <ul>
                        {% for category in categories %}
                            <li>
                                <a href="{{ category.get_absolute_url }}">
                                    {{ category|capfirst }}
                                </a>
                            </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-6">
                      <ul>
                        <li>
                          <a href="{% url "cart:index" %}">
                            {% trans "Cart" context "Top navbar link" %}
                          </a>
                        </li>
                        {% if user.is_authenticated %}
                          {% if user.is_staff %}
                              <li>
                                <a href="{% url "dashboard:index" %}" target="_blank" rel="noopener">
                                    {% trans "Dashboard" context "Top navbar link" %}
                                </a>
                              </li>
                          {% endif %}
                          <li>
                            <a href="{% url "profile:details" %}">
                              {% trans "Your account" context "Top navbar link" %}
                            </a>
                          </li>
                          <li>
                            <a href="{% url "account_logout" %}">
                                {% trans "Log out" context "Top navbar link" %}</a>
                          </li>
                        {% else %}
                          <li>
                            <a href="{% url "account_signup" %}">
                                {% trans "Register" context "Top navbar link" %}
                            </a>
                          </li>
                          <li>
                            <a href="{% url "account_login" %}">
                                {% trans "Log in" context "Top navbar link" %}
                            </a>
                          </li>
                        {% endif %}
                      </ul>
                    </div>
                    <div class="col-md-3 col-sm-12">
                      <a target="_blank" rel="noopener" class="github-footer" href="https://www.facebook.com/topspindotin/">
                        <img src="{% static "images/facebook_logo.svg" %}" style="width:48px">
                      </a>
                      <a target="_blank" rel="noopener" href="https://www.instagram.com/topspin.in">
                        <img src="{% static "images/instagram_logo.svg" %}" style="width:48px">
                      </a>
                    </div>
                  </div>
                </div>
            </footer>
        {% endblock %}
        {% block footer_scripts %}
            <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
            {% render_bundle 'vendor' 'js' %}
            {% render_bundle 'storefront' 'js' %}
        {% endblock footer_scripts %}
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
    </body>
</html>

