{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}

<div class="panel panel-default text-center">
    <div class="panel-body">
        <div class="col-lg-12 col-sm-12">
            <div class="content-header">
                <h1>Frequently Asked Questions(FAQ)</h1>
                <h2><i>Did we answer all your questions? If not, leave a message on chat!</i></h2>
                <hr>
            </div>
        </div>
        <br>

            <ul>
				<li class="list-group"><b><h2>SHIPPING</h2></b>
					<ul>
						<li class="list-group-item active"><b>Do you ship outside India?</b><br>
						<li class="list-group-item">No, we ship only within India where popular courier delivery services operate.</li>
						</li>
						<li class="list-group-item active"><b>Can I collect from the Bangalore office?</b>
						<li class="list-group-item">Yes, depending on the urgency of the requirement and availability of the items you can pick it up upon prior request. Courier charges will be waived off for this.</li>
						</li>
						<li class="list-group-item active"><b>Do you have an offline store/showroom?</b><br>
						<li class="list-group-item">No, we do not have a physical store to visit/shop from.</li>
						</li>
						<li class="list-group-item active"><b>How many days will it take to deliver for standard shipping?</b><br>
						<li class="list-group-item">Once your order is shipped, it will take 2-5 days to deliver depending on the shipping address.</li>
						</li>
						<li class="list-group-item active"><b>How can I track my order?</b><br>
						<li class="list-group-item">Once your order shipped, you will receive an email with the courier partner details and tracking number.</li>
						</li>
						<li class="list-group-item active"><b>How is my shipment delivered?</b><br>
						<li class="list-group-item">Your order will be delivered by popular courier partners like Bluedart, Professional Courier, DTDC and Overnight Express.</li>
						</li>
					</ul>
				</li>
				<br><li class="list-group"><b><h2>SERVICES</h2></b>
					<ul>
						<br><li class="list-group-item active"><b>Do you assemble rackets?</b><br>
						<li class="list-group-item">Yes, we assemble rackets if two rubbers and a blade is purchased in an order absolutely free of cost.</li>
						</li>
						<li class="list-group-item active"><b>Do you have EMI Option?</b><br>
						<li class="list-group-item">Yes, we do have EMI option for all orders above 3,000 INR provided you have a credit card that is supported by the payment partner.</li>
						</li>
						<li class="list-group-item active"><b>How do you assemble the racket?</b><br>
						<li class="list-group-item">We strictly use professional tools, branded water based glue and provide edge tape with the assembly. Rest assured, your new racket is in safe hands!</li>
						</li>
						<li class="list-group-item active"><b>Can you suggest a good racket for me?</b><br>
						<li class="list-group-item">Yes, our equipment experts will help you choose the best racket based on your requirement and budget. Just drop a message on our live chat!</li>
						</li>
					</ul>
				</li>
				<br><li class="list-group"><b><h2>GENERAL</h2></b>
					<ul>
						<br><li class="list-group-item active"><b>What do you the following statuses mean?</b><br>
                        <li class="list-group-item">
						<b>Processing:</b> Order is placed but payment has not been made. Until the payment is made, we will not process the order.<br>
                        </li>
                        <li class="list-group-item">
						<b>Full Paid:</b> Order is placed sucessfully and payment has been made. We will process your order.<br>
                            </li>
                        <li class="list-group-item">
						<b>Shipped:</b> Order is processed successfully and has been dispatched. You will receive an email with the tracking details.<br>
                            </li>
                        <li class="list-group-item">
						<b>Cancelled:</b> Order is placed but payment has lapsed 5 days/Customer has requested to cancel the order. Orders once shipped, cannot be cancelled.
                            </li>
						</li>
						<li class="list-group-item active"><b>Are the products authentic?</b><br>
						<li class="list-group-item">Yes, we only sell authentic and genuine products.</li>
						</li>
						<li class="list-group-item active"><b>Can I return my shipment?</b><br>
						<li class="list-group-item">No, goods once shipped cannot be returned.</li>
						</li><br>
					</ul>
				</li>
			</ul>


    </div>
</div>



{% endblock %}
