{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}


{% block content %}

<div class="userprofile">
    <div class="panel-body">
        <div class="col-lg-12 col-sm-12">
            <div class="content-header text-center">
                <h1>Frequently Asked Questions(FAQ)</h1>
                <h4><i>Did we answer all your questions below? If not,email us at <a href="mailto:sales@topspin.in" target="_blank">sales@topspin.in</a></i></h4>
                <hr>
	    </div>
	</div>
		<ul>
				<li><b>GENERAL</b>			
					<ol>						
						<br><li><b>How can I place an order?</b><br>						
						Follow the steps below to place your order successfully:<br><br>
						<ul>
						<li>Click on the product of interest.</li>
						<li>Select the variant from the dropdown menu and then the quantity.</li>
						<li>Click &#39;Add to Cart&#39; button. The cart on the top of your screen will hightlight the quantity of products added to the cart currently.</li>  	
						<li>After you have added the desired products to the cart, access the cart page by clicking the &#39;Your Cart&#39; button at the top right corner of the screen. You can change the quantity of the items on the cart page.</li> 
						<li>Once you are happy with your order, click the &#39;Checkout&#39; button. This will take you to our secure checkout page where you will be asked to enter your billing address, shipping address, and shipping method.</li>
						<li>Once you have provided all the information required, click on &#39;Continue&#39; and  &#39;Order and Pay&#39; button. You will receive an order confirmation email shortly after.</li>
						<li>Our payment partners take security extremely seriously and use high-level data protection on payment transactions to ensure the safety of our customers.
						</li><br>
						</ul>
						<li><b>What do you the following status mean?</b><br> 
						<ul>
						<li>
						<b>Processing:</b> Order is placed but payment has not been made yet. Until the payment is made, we will not process the order.<br>
					    </li>
						<li>
						<b>Full Paid:</b> Order is placed sucessfully and payment has been made. We will process your order.<br>
						</li>
						<li>
						<b>Shipped:</b> Order is processed successfully and has been dispatched. You will receive an email with the tracking details.<br>
						</li>
						<li>
						<b>Cancelled:</b> Order is placed but payment has lapsed 5 days/Customer has requested to cancel the order. Orders once shipped, cannot be cancelled. 
						</li><br> 
						</ul></li>
						</li></ol></li></ul>
						<li>
						<b>Are the products authentic?</b><br> 
						Yes, we only sell authentic and genuine products. The products we sell are sourced only from trusted and credible distributors.
						<br><br> 	
						</li>
						<li><b>When will the Out of Stock items become available again?</b><br> 
						It is difficult to provide an estimate on the ETA. If you are interested to purchase a product which is currently Out of Stock, please write to us at <a href="mailto:sales@topspin.in" target="_blank">sales@topspin.in</a> and we will try to source it at the earliest!
						</li><br>					
						<li><b>Do your prices include GST?</b><br>
						All prices are inclusive of GST. 
						</li><br>
						<li><b>What payment options are available?</b><br>
						Our Payment Partner Instamojo, supports the following payment options:
						<ul>
					    <li>Credit Card.</li>
						<li>Debit Card.</li>
						<li>Net Banking.</li>
						<li>EMI.</li>
						<li>WALLETS.</li>
						<li>UPI/BHIM/PhonePe.</li>
						</ul>
						</li><br>
						<li><b>Can I read reviews about your Web store?</b><br>
					    <ul>
						<li><a href="https://goo.gl/maps/X81WiBLBPN62" target="_blank">Google Business</a></li> 
						<li><a href="https://www.facebook.com/pg/topspindotin/reviews/" target="_blank">Facebook Page</a></li>
						</ul>
						</li><br>
					
				
				<br><li><b>SERVICES</b>
					
						<ol>						
						<br><li><b>Do you assemble rackets?</b><br> 
						Yes, we assemble rackets if two rubbers and a blade is added to the cart. You need to add &quot;Racket Assembly&quot; product to the cart and then place your order. Choosing this service may extend the delivery time by 1 business day.
						</li><br>						
						<li><b>How do you assemble the racket?</b><br> 
						We strictly use professional tools, branded water based glue and provide edge tape with the assembly. Rest assured, your new racket is in safe hands!
						</li><br> 
						<li><b>Can you help me choose a racket?</b><br> 
						Yes, our equipment experts will help you choose the best racket based on your requirement and budget. Just drop a message on our live chat or email us at <a href="mailto:sales@topspin.in" target="_blank">sales@topspin.in</a>!
						</li><br>
						</ol>
					
				</li>		
				<br><li><b>SHIPPING POLICY</b>
					<ol>
						
						<br><li><b>Where can you deliver my order?</b><br>
						We can deliver anywhere in India where courier delivery services operate.
						</li><br> 
						<li><b>Do you support Cash/Card on Delivery(COD)?</b><br> 
						No, we do not support COD. We support online payments. 
						</li><br>
						<li><b>Can I collect from the Bangalore office?</b><br> 
						No, since we do not have a physical store, it will not be possible. 
						</li><br> 						
						<li><b>How many days will my order take to deliver?</b><br> 
						Approximately 5-7 days business days. Order takes 1-4 business days to dispatch. Some orders may take longer depending on availability of products. Orders with assembled rackets, can take 1-2 working days extra. 
						</li><br>
						<li><b>How can I track my order?</b><br> 
						Once your order dispatched, you will receive an email with courier tracking details. 
						</li><br>						
						<li><b>Who will deliver my order?</b><br>
						Your order will be delivered by one of the popular courier partners like Shree Maruti Courier, Professional Courier, DTDC and India Post.
						</li>
					</ol>
				</li>				
				
				<br><li><b>RETURN POLICY</b><br><br>	
					<ul>										
						You may cancel your order within 24 hrs of placing your order for full refund. Your order comes with a 5-day satisfaction guarantee. If for any reason you are not satisfied with your purchase, you are entitled to a full refund within 5 days of receiving your order, as long as the product is in its original, sealed, unused condition. This policy does not apply to custom or specialty items (e.g. assembled rackets)<br><br>  

						In order to qualify for our return policy the following requirements need to be fulfilled:<br><br> 
						<ul>
						<li>Blades must be returned in a box and cannot have any scrapes or glue on their surface.</li>
						<li>Rubbers must be sealed in their original packaging.</li>					
						<li>Clothing items must be returned unworn and unwashed with the original tags attached.</li>
						<li>Bags and Accessories must be returned unused with their original packaging and labels.</li>						
						<li>Important: before returning any item(s), please contact us at <a href="mailto:sales@topspin.in" target="_blank">sales@topspin.in</a>.</li>
						<li>We will initiate the refund as soon as we receive the product back in original condition and you will be notified. Refund may take up to 7 days to process subject to the payment gateway terms.</li>
						</ul>
						</ul></li><br> 


</div>
</div>
{% endblock content %}



